@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shadowDynamic {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    transform: scale(1);
  }
  50% {
    -moz-box-shadow: rgba(149, 0, 71, 1) 0px 4px 8px,
      rgba(207, 91, 153, 1) 0px 4px 10px, rgba(0, 212, 255, 1) 0px 6px 20px;
    box-shadow: rgba(149, 0, 71, 1) 0px 4px 8px,
      rgba(207, 91, 153, 1) 0px 4px 10px, rgba(0, 212, 255, 1) 0px 6px 20px;
    transform: scale(1.01);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    transform: scale(1);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  0% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
